@use "../global/breakpoint" as m;

.p-business__fv {
  background: url("../img/business/business_fv.jpg") no-repeat center;
  background-size: cover !important;
  height: 220px;
  position: relative;
  width: 100%;

  .p-business__fv-inner {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.56) repeat;
  }

  .p-business__fv-title {
    color: #fff;
    font-size: 2.5vw;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    @include m.mq(sp) {
      font-size: 28px;
    }
  }
}

.p-business {
  background-color: #f6fafc;
  padding: 5.5vw 0;

  @include m.mq(sp) {
    padding: 48px 16px;
  }

  .p-business__inner {
    margin: 0 auto;
    width: 70%;
    @include m.mq(sp) {
      width: 100%;
    }

    p {
      font-size: 1vw;
      line-height: 2;
      margin-top: 2.5vw;
      text-align: center;
      @include m.mq(sp) {
        font-size: 14px;
        margin-top: 24px;
      }
    }
  }

}

.p-business-type {
  padding: 5.5vw 0;
  @include m.mq(sp) {
    padding: 48px 16px;
  }

  .p-business-type__inner {
    margin: 0 auto;
    width: 70%;
    @include m.mq(sp) {
      width: 100%;
    }

    .p-business-type__list {
      display: grid;
      gap: 3vw;
      margin-top: 3vw;
      @include m.mq(sp) {
        gap: 24px;
        margin-top: 24px;
      }

      li {
        border-bottom: 1px solid #D9D9D9;
        display: grid;
        justify-content: space-between;
        gap: 3.5vw;
        grid-template-columns: 1fr 21vw;
        padding-bottom: 2vw;
        @include m.mq(sp) {
          grid-template-columns: 1fr;
          padding-bottom: 24px;
        }

        h3 {
          align-items: center;
          display: flex;
          font-size: 1.25vw;
          font-weight: bold;
          gap: 0.8vw;
          @include m.mq(sp) {
            font-size: 18px;
            gap: 8px;
          }

          &:before {
            background: linear-gradient(#07c1d0, #0072ad);
            border-radius: 50%;
            content: "";
            display: block;
            height: 1vw;
            position: relative;
            width: 1vw;
            @include m.mq(sp) {
              height: 14px;
              width: 14px;
            }
          }
        }

        p {
          font-size: 1vw;
          line-height: 1.75;
          margin-top: 1.25vw;
          @include m.mq(sp) {
            font-size: 14px;
            margin-top: 16px;
          }
        }

        img {
          height: 18vw;
          width: 21vw;
          @include m.mq(sp) {
            height: 300px;
            width: 100%;
          }
        }
      }
    }
  }
}